.popup__input {
  background-color: transparent;
  border: 0;
  outline: none;

  margin: 0 36px 0 36px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 700px){
  .popup__input {
    margin: 0 22px 0 22px;
    padding-bottom: 6px;
    width: 238px;
    
  }
}