.elements__trash {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;

  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.elements__trash:hover {
  opacity: 60%;
}